apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-flask
  labels:
    app: simple-flask
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-flask
  template:
    metadata:
      labels:
        app: simple-flask
    spec:
      containers:
        - name: flask-container
          image: austinthao/flask-app:v1
          ports:
            - containerPort: 80
